body {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  color: #6d6f7c;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
h1,
.h {
  margin: 0;
  color: #fff;
}
h2,
h3 {
  color: black;
}

header {
  padding: 5% 5% 5% 40%;
  background: #161a27;
}

.photo {
  width: 145px;
  height: 145px;
  position: absolute;
  left: 10%;
  top: 5%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}
main {
  padding: 5% 10%;
  margin: auto;
}
a {
  color: #161a27;
  text-decoration: none;
}
footer {
  padding-top: 2%;
  border-color: #161a27;
  border-top-style: solid;
}
nav {
  min-width: 600px;
  margin: auto;
  text-align: center;
}
figure {
  display: inline;
  margin: 1%;
}
img {
  width: 2em;
}
